$primary-color: #151414;
$font-stack: 'Helvetica', 'Arial', sans-serif;

html{
background-color: rgb(255, 245, 233);
// font: $font-stack;
// color: $primary-color;
// font-size: 15 px;
// margin: auto;
// position: relative;
// padding-inline-start: 40px;
// padding: 16px;
}
.header{
    font: $font-stack;
    font-weight: bold;
    vertical-align: baseline;
    padding: 16px;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    scroll-margin-block-end: 1em;
    letter-spacing: .015em;
    
    a:link{
        color:$primary-color;
        text-decoration: none;
    }
    a:hover{
        color: #434C2E;
        opacity: 0.8;
        text-decoration: none;
    }
    a:visited{
        color: #C6C0B4;
        text-decoration: none;
    }
    a:active{
        color: #C6C0B4;
        text-decoration: underline;
        
    }
}

.title{
    color: $primary-color;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: bold;
    padding: 16px;
    padding-inline-start: 40px;

}

.body{
    font: $font-stack;
    color: $primary-color;
    font-size: 15 px;
    margin: auto;
    padding-inline-start: 40px;
    padding: 16px;
}
.hi{
    background-color: #d0d0c4;
    font: $font-stack;
    color: #434C2E;
    display: flex;
    padding: 34px;
    align-items: center;
}

.quote{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #6D5B3E;
    padding-inline-start: 40px;
    padding: 16px;
}